* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    color: #bf9aca; 
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0;
    width: 100%;
    font-size: 80px;
    color: #fdfdfe;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  black;
}

#game {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    border-radius: 16px;
    padding: 5px;
    padding-right: 80px;
}

#front {
    font-size:150%;
}


#card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    border-radius: 16px;
    transition: transform 0.3s;
    background: #bf9aca;
}

#card:active{
    transform: scale(0.97);
    transition: transform 0.1s;
}

#card.flip{
    transform: rotateY(180deg);
    background-color: black;
}

#front, #back{
    font-size: 100px;
    background: #bf9aca;
    padding: 10px;
    position: absolute;
    backface-visibility: hidden;
    backdrop-filter: blur(2.8px);
}

#back {
    transform: rotateY(180deg);
    background: #bf9aca;
}

@media screen and (max-width: 1281px) {
    #game{
        width: 500px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        perspective: 1000px;
        border-radius: 16px;
        padding: 5px;
        padding-right: 60px;
        padding-left: 50px;
    }
    #back {
        font-size:250%;
    }
    #front {
        font-size:250%;
    }
}

@media screen and (max-width: 1025px) {
    #game{
        width: 400px;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        perspective: 1000px;
        border-radius: 16px;
        padding: 5px;
        padding-right: 50px;
        padding-left: 50px;
    }
    #front {
        font-size:250%;
    }
    #back {
        font-size:250%;
    }
}

@media screen and (max-width: 385px) {
    #game{
        width: 300px;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        perspective: 1000px;
        border-radius: 16px;
        padding: 5px;
        padding-right: 20px;
        padding-left: 20px;
    }

    #front {
        font-size:250%;
    }

    #back {
        font-size:250%;
    }

}