* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    color: #bf9aca; 
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0;
    width: 100%;
    font-size: 80px;
    color: #fdfdfe;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  black;
}

#game {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    border-radius: 16px;
    padding: 5px;
    padding-right: 80px;
}

#front {
    font-size:150%;
}


#card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    border-radius: 16px;
    transition: transform 0.3s;
    background: #bf9aca;
}

#card:active{
    transform: scale(0.97);
    transition: transform 0.1s;
}

#card.flip{
    transform: rotateY(180deg);
    background-color: black;
}