* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    color: #bf9aca; 
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0;
    width: 100%;
    font-size: 80px;
    color: #fdfdfe;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  black;
}